<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Course Details </h1>
    <form action="/create_course" method = "post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Course Name</td>
                <td><input type="text" name="cname"></td>
            </tr>
            <tr>
                <td>Course Duration</td>
                <td><input type="number" name="cdur"></td>
            </tr>
            <tr>
                <td>Course Price</td>
                <td><input type="number" name="cprice" ></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>